<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Promotion">
    <parameter name="ENV" value="PP"/>
    <parameter name="person-phone" value="13916485978"/>
    <parameter name="URL" value="https://easypromo-front-new.pp.dktapp.cloud/"/>
<!--        <listeners>-->
<!--            <listener class-name="com.TestListener" />-->
<!--            <listener class-name="com.example.MyMethodInterceptor" />-->
<!--        </listeners>-->
<!--    <test verbose="2" preserve-order="true" name="Debug Test">-->
<!--        <classes>-->
<!--            <class name="EasyPromo.OmniCoupon_DistributeChannelOmni_UseChannelWebPos"></class>-->
<!--            <class name="EasyPromo.OfflineCoupon_DistributeChannelH5_UseChannelWebPos"></class>-->
<!--            <class name="EasyPromo.OnlineCoupon_DistributeChannelDCN_UseChannelDCN"></class>-->
<!--            <class name="EasyPromo.OnlineCoupon_DistributeChannelMPM_UseChannelMPM"></class>-->
<!--            <class name="EasyPromo.OnlineCoupon_DistributeChanneLH5_UseChannelMPM"></class>-->
<!--            <class name="EasyPromo.OnlineCoupon_DistributeChannelPromotionPage_UseChannelMPM"></class>-->
<!--            <class name="NewBackOffice.test">-->
<!--                <parameter name="URL" value="https://easypromo-front-new.p1p.dktapp.cloud/1"/>-->
<!--                <methods>-->
<!--                    <include name="queryFlowID"/>-->
<!--                </methods>-->
<!--            </class> &lt;!&ndash; NewBackOffice.test &ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test verbose="2" preserve-order="true" name="BackOffice UI">-->
<!--        <classes>-->

<!--        </classes>-->
<!--    </test>-->
    <test verbose="2" preserve-order="true" name="Easy Promotion Regression">
        <classes>
<!--                            <class name= "EasyPromo.OfflineCoupon_DistributeChannelH5_UseChannelWebPos" />-->
<!--                            <class name= "EasyPromo.OfflineCoupon_DistributeChannelPromotionPage_UseChannelWebPos" />-->
<!--                            <class name= "EasyPromo.OnlineCoupon_DistributeChannelDCN_UseChannelDCN" />-->
<!--                            <class name= "EasyPromo.OnlineCoupon_DistributeChanneLH5_UseChannelMPM" />-->
<!--                            <class name= "EasyPromo.OnlineCoupon_DistributeChannelMPM_UseChannelMPM" />-->
<!--                            <class name= "EasyPromo.OnlineCoupon_DistributeChannelPromotionPage_UseChannelMPM" />-->
<!--            <class name= "EasyPromo.OmniCoupon_DistributeChannelOmni_UseChannelWebPos" />-->
            <class name= "EasyPromo.OmniCoupon_DistributeChannelOmni_UseChannelMPM" />

        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="E2E">
        <classes>
<!--            <class name="E2E.MPMStore.TestSet_MPMSTORE_MPMSTORE_001_QuanChang">-->
        </classes>
    </test>
</suite>