<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Promotion">
    <parameter name="ENV" value="PP"/>
    <parameter name="person-phone" value="13916485978"/>
    <!--    <listeners>-->
    <!--        <listener class-name="com.example.MyListener" />-->
    <!--        <listener class-name="com.example.MyMethodInterceptor" />-->
    <!--    </listeners>-->

    <test verbose="2" preserve-order="true" name="BackOffice">
        <classes>
<!--                            <class name= "BackOffice.ProductActivity_TestSet001"/>-->
<!--                            <class name= "BackOffice.ProductActivityStackingProduct_TestSet001" />-->
<!--                            <class name= "BackOffice.BlackModelListActivity_TestSet001"/>-->
            <!--                <class name= "BackOffice.DesignatedUserActivity_Test001"/>-->

            <!--                <class name= "BackOffice.LiveRoomNormalActivity_TestSet001" />-->
            <!--                <class name= "BackOffice.LiveRoomNormalActivityStackingProduct_TestSet001" />-->
            <!--                <class name= "BackOffice.LiveRoomProductActivity_TestSet001" />-->
            <!--                <class name= "BackOffice.LiveRoomProductActivityStackingProduct_TestSet001" />-->
<!--                            <class name= "BackOffice.NormalActivity_TestSet001" />-->
<!--                            <class name= "BackOffice.H5NormalActivity_TestSet001" />-->
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Facade Promotion">
        <classes>
            <!--                            <class name= "FacadePromo.receiveCoupon" />-->
            <!--                <class name= "APITestCase.FacadePromotionPromotion.getCouponDetail" />-->
            <!--                <class name= "APITestCase.FacadePromotionPromotion.queryUserCoupon" />-->
            <!--                <class name= "APITestCase.FacadePromotionPromotion.getStockDetail" />-->
            <!--                <class name= "APITestCase.FacadePromotionPromotion.userAvailableCoupon" />-->

        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
<!--            <class name= "testWeb">-->
<!--                <methods>-->
<!--                    <include name="test1"></include>-->

<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="E2E">
        <classes>
            <class name="E2E.TestSet_H5_MPMSTORE_009_HeiMingDan">
<!--            <class name="NewBackOffice.test">-->
<!--                <methods>-->
<!--                    <include name="test010_cartEstimatePrices"></include>-->
<!--                    <include name="test011_cartEstimatePrices"></include>-->
<!--                    <include name="test012_cartEstimatePrices"></include>-->
<!--&lt;!&ndash;                    <include name="test017_promotionDetails_004"></include>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="test026_loggedUserReceiveCoupon"></include>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="test001_启动后台"></include>&ndash;&gt;-->
<!--&lt;!&ndash;                    <include name="test030_全场券活动关闭"></include>&ndash;&gt;-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>